.page {
  background-color: #f5f5f5;
  padding: 20px;
  min-height: 100vh;
}

.page__content {
  margin: 0 auto;
  max-width: 726px;
  min-height: 782px;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 20px;
}

@media screen and (max-width: 1030px) {
  .page__content {
    margin-top: 52px;
  }
}

@media screen and (max-width: 630px) {
  .page__content {
    padding: 20px 12px;
  }
}
